@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

// main
@import './main/main_view.scss';
@import './main/helpers.scss';
@import './main/buttons.scss';
@import './main/table.scss';

// cmps
@import './cmps/header.scss';
@import './cmps/pagination.scss';
@import './cmps/validation.scss';
@import './cmps/generalInfo.scss';

//pages
@import './pages/edit-packages.scss';
@import './pages/archive.scss';
@import './pages/tenant_view.scss';
@import './pages/tenant_package_view.scss';
@import './pages/auth.scss';
@import './pages/admin_view.scss';

body {
    direction: rtl;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Assistant', sans-serif;
    font-size: 1rem;
}

.loader {
    z-index: 9999;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
}