.capitalize {
    text-transform: capitalize;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-end {
    flex: end;
}

.gap {
    display: flex;
    gap: 1rem;
}

.justify-between {
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.min-h-full {min-height: 100vh;}